.header {
 width: 100vw;
 height: 100vh;
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url(../images/IMG_20220429_161312-scaled.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 @include respond(tab-land) {
  background-size: 100% 100%;
 }

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 &__p {
  width: initial;

  @include respond(tab-land) {
   width: 55%;
  }
 }

 &__text {
  text-align: center;
  width: 80%;

  @include respond(tab-land) {
   text-align: start;
  }
 }
}

.cards {
 width: 80%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
}

.card {
 width: 341px;
 height: 492px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 margin-top: 2rem;
 padding-bottom: 3rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-end;
}

.card-big {
 width: 100%;
 height: 492px;
 background-size: 100% 100%;
 color: white;
 background-repeat: no-repeat;
 transition: all 2s linear 1s;

 //aligning items
 display: flex;
 flex-direction: column;
 justify-content: center;

 //spacing for padding
 padding-left: initial;
 text-align: center;

 //Desktop version with animation
 @include respond(tab-land) {
  width: 80%;
  background-size: 341px 100%;
  color: black;
  padding-left: 370px;
  text-align: initial;
 }

 //  &:hover {
 //   background-size: ;
 //   color: white;
 //  }
}

.about-us {
 width: 100%;

 @include respond(tab-land) {
  height: 75vh;
 }

 &__header {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @include respond(tab-land) {
   text-align: initial;
   width: 80%;
  }
 }

 &__content {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond(tab-land) {
   width: 80%;
  }

  &--text,
  &--image {
   width: 100%;

   @include respond(tab-land) {
    width: 50%;
    height: 100%;
   }
  }

  &--image {
   background-size: contain;
   background-repeat: no-repeat;
  }
 }
 &__image {
  width: 100%;
  height: 100%;
 }
}
